<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Orders</title>
    <link rel="stylesheet" href="../static/styles/display-orders.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='styles/display-orders.css') }}"> -->
    <!---- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>-->
</head>

<body class="background">
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/jquery.js') }}"></script>
    <div class="upper-bar">
        <div>
            <a href="home"><img src="{{ url_for('static',filename='images/home.png') }}" class="icon" alt="Home"></a>
            <!-- <a href="home" ><img src="home.png" class="icon" alt="Home"></a> -->
        </div>
    </div>
    <div class="outer-box">
        <div class="heading">
            <h1 class="Page-Title">Display Orders</h1>
        </div>
        <hr width="100%">
        <div class="button-pannle">
            <a href="display_products"><button class="blue-button-single btn-add">Display Products</button></a>

        </div>

        <div class="table-heading">

            <table class="display-product-table" id="display-product-id">
                <thead>
                    <tr class="header" height=40px>
                        <th>OrderId</th>
                        <th>Date</th>
                        <th>Mobile No.</th>
                        <th>Price</th>
                        <th>Payment Type</th>


                    </tr>

                </thead>
                <tbody class="table-content">
                    <div class="order_item_outer-box">
                        <form method="get" action="Add">
                            <div class="box-info full" id="taskFormContainer">
                                <div class="row">
                                    <div class="order-details-box">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </tbody>
            </table>
            <br>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/orderView.js') }}"></script>
</body>

</html>