<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Display</title>
        <!-- <link rel="stylesheet" href="{{ url_for('static',filename='styles/display-orders.css') }}"> -->
        <link rel="stylesheet" href="../static/styles/display-orders.css">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
       <!---- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>-->
    </head>

    <body class="background">
        <script type="text/javascript" src="{{ url_for('static',filename='javascript/jquery.js') }}"></script>
        <div class="upper-bar">
            <div>
                <a href="home" ><img src="{{ url_for('static',filename='images/home.png') }}" class="icon" alt="Home"></a>
            </div>
        </div>
        <div class="outer-box">
            <div class="heading">
                <h1 class="Page-Title">Display Items</h1>
            </div>
            <hr width="100%">
            <div class="button-pannle">
                <a href="display_orders"><button  class="blue-button-single btn-add" >Display Orders</button></a>
               
            </div>
                
                <div class="table-heading">
                    
                        <table class="new-product-table" id="new-product-id">
                                <thead>
                                    <tr class="header" height=40px>
                                            <th>ProductId</th>
                                            <th>Prodecut Name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Unit</th>
                                            
                                      
                                    </tr>
                                </thead>
                            <tbody class="table-content">
                                <div class="order_item_outer-box" >
                                    <form method="get" action="Add">
                                        <div class="box-info full" id="taskFormContainer">  
                                             <div class="row">
                                                <div class="order-details-box">                                               
                                                </div>
                                             </div>
                                        </div>
                                    </form>
                                </div>
                            </tbody>
                        </table>        
                    <br>    
                </div>                         
            </div> 
            <script type="text/javascript" src="{{ url_for('static',filename='javascript/productView.js') }}"></script>
    </body>
</html>
      