<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Display</title>
        <!-- <link rel="stylesheet" href="{{ url_for('static',filename='styles/display-orders.css') }}"> -->
        <link rel="stylesheet" href="../static/styles/display-orders.css">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
       <!---- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>-->
    </head>

    <body class="background">
        <script type="text/javascript" src="{{ url_for('static',filename='javascript/jquery.js') }}"></script>
        <div class="upper-bar">
            <div>
                <a href="home" ><img src="{{ url_for('static',filename='images/home.png') }}" class="icon" alt="Home"></a>
            </div>
        </div>
        <div class="outer-box">
            <div class="heading">
                <h1 class="Page-Title">Display Items</h1>
            </div>
            <hr width="100%">
            <div class="button-pannle">
                <a href="display_orders"><button  class="blue-button-single btn-add" >Display Orders</button></a>
               
            </div>
                
                <div class="table-heading">
                    <img src="{{ url_for('static',filename='images/QR.jpeg') }}" alt="QR" style="margin-left:40%; margin-top: 2%;">
                </div>
        </div>
    </body>
</html>